ul {
  list-style: none;
  padding: 27px 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #5c5cfc;
  border-radius: 10px;
  padding-left: 27px;

  li {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
    margin-right: 100px;
    transition: 0.3s;
    width: fit-content;

    span {
      font-size: 17px;
    }

    button {
      height: 25px;
      width: 50px;
      border-radius: 4px;
      border: none;
      outline: none;
      background-color: #5c5cfc;
      color: rgb(253, 226, 226);
      padding: 8px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        border: 1px solid #5c5cfc;
        cursor: pointer;
        background-color: transparent;
        color: #5c5cfc;
        transform: scale(1.05);
      }
    }
  }
  li:hover{
    cursor: pointer;
    transform: scale(1.02);
  }
}

/* .no-todos tərzi */
.no-todos {
  text-align: center;
  color: gray;
  margin-top: 30px;
  font-style: italic;
  font-size: 18px;
  font-weight: 100;
}
